{{ ansible_managed | comment }}

[global_tags]
  server_hostname = "{{ inventory_hostname }}"
{% if node_id %}
  node_id = "{{ node_id }}"
{% endif %}

[agent]
  interval = "60s"
  collection_jitter = "15s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  flush_interval = "30s"
  flush_jitter = "15s"
  precision = ""
  debug = false
  quiet = true
  logfile = "/dev/null"
  omit_hostname = false

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "overlay", "aufs", "squashfs"]

[[inputs.diskio]]
  interval = "120s"

[[inputs.kernel]]

[[inputs.mem]]

[[inputs.processes]]

[[inputs.swap]]

[[inputs.system]]

[[inputs.fail2ban]]
  use_sudo = true

[[inputs.net]]

[[inputs.netstat]]

[[inputs.nginx]]
  urls = ["http://{{ config_web_server_monitoring_user }}:{{ config_web_server_monitoring_pass }}@127.0.0.1/.well-known/aasaam/status/stub"]

[[inputs.prometheus]]
  urls = [
    "http://127.0.0.1:9101/metrics",
    "http://127.0.0.1:4000/metrics",
    "http://127.0.0.1:9121/metrics",
  ]
  tagexclude = ["url"]
