---
  all:

    hosts:

      htm-node-0:
        node_id: 192-168-1-2
        node_tls_version: intermediate
        # pwgen -n 48
        node_token: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        ansible_host: 192.168.1.2
